<%- include('../partials/header') %>
<h1>Edit Cohort</h1>
<form method="POST" action="/cohorts/<%= team.id %>">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-group">
    Team Name
        <input 
            type="text"
            class="form-control" 
            name="name" 
            value="<%= team.name %>"
        >
    </div>
    <div class="form-group">
    Logo url
        <input 
            type="url" 
            name="logourl" 
            class="form-control" 
            value="<%= team.logourl %>"
        >
    </div>
    <div class="form-group">
    Members
        <textarea 
            class="form-control"
            name="members" 
            placeholder="What are your thoughts?"
        ><%= team.members %></textarea>
    </div>
    <input type="submit" class="btn btn-outline-secondary" value="Submit">
</form>
<%- include('../partials/footer') %>