<%- include("../partials/header") %>
<div class="post-cards">
    <% for (let team of teams) { %>
        <div class="card mb-4">
            <div class="card-body">
            <h2>
            <img class="small-image" width="50" height="50" src="<%= team.logourl %>">
            <%= team.name %>
            </h2>
            <p class="card-text"><%= team.members %></p>


            <form method="GET" action="/cohorts/<%= team.id %>">
            <input type="submit" class="btn btn-outline-secondary" value="Show Cohort">
            </form>

            </div>
        </div>

    <% } %>
</div>
<%- include("../partials/footer") %>