

<%= form_with url: password_post_path, local: true do |f| %>
 <div>
   <%= f.label :current_password %>
   <%= f.password_field :old_password %>
 </div>
 <div>
   <%= f.label :new_password %>
   <%= f.password_field :password %>
 </div>
 <div>
   <%= f.label :new_password_confirm %>
   <%= f.password_field :password_confirmation %>
 </div>
 <%= f.submit "submit" %>
<% end %>

