<%- include("../partials/header") %>
<div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title"><%= post.name %></h1>  
        <p class="card-text"> Members: <%= post.members %> </p>
        
        <hr>

        <form method="POST" action="./team">
        <p>Method</p>
        <p>
        <input  type="radio" 
                name="option" 
                value="team" 
                <% if (formData.option == "team"){ %> checked="checked" <% } %> 
                > Team Count
        </input><br>
        
        <input  type="radio" 
                name="option" 
                value="people"
                <% if (formData.option == "people"){ %> checked="checked" <% } %> 
                > Number per Team
        </input><br>
        
        <input type="hidden" name="id" value="<%=post.id %>">
        </p>
        <p> Quantity: <br><input type="text" name="quantity" size="35" value="<%=formData.quantity%>"></p>
        
        <input type="submit" value="Submit">
        </form>
        <br>

        <%  // put members of the team in an array
            const members = post.members.split(",")
            // find the total number of people
            const totalPeople = members.length

            // this will be put in by the user if they use the option
            // this will be input by user but 0 if option not selected
            let membersPerTeam = 0
            let teamCount = 0;
            let numOfTeams = 0;

            if(formData){
        
                if(formData.option == "team"){
                teamCount = formData.quantity;
                }
                else{
                    membersPerTeam = formData.quantity;
                }
                
                if (teamCount === 0){
                numOfTeams = totalPeople / membersPerTeam
                }
                else{
                    numOfTeams = teamCount;
                    membersPerTeam = totalPeople/teamCount
                }

                const teams = []
                let team = []

                for (let i = 0; i < numOfTeams; i++){
                    for (let i = 0; i < membersPerTeam; i++){      
                        if(members.length > 0){
                            randomNo = Math.floor((Math.random() * members.length));
                            team.push(members[randomNo]);
                            members.splice(randomNo, 1);
                        }   
                    }
                    teams.push(team)
                    team = [];
                }

                let teamWriter = "";
                for (let i = 0; i < teams.length; i++){ 
                %> 

                <p> <%=  `Team ${i+1}: ` + teams[i].join().trim() %> <hr> </p>
        
         <% }
        } %>


        <a class="btn btn-outline-secondary mr-2" href="/posts/<%= post.id %>/edit"> Edit </a>
        

        <form method="POST" action="/posts/<%= post.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-outline-secondary" value="Delete">
        </form>

    </div>
</div>



<%- include("../partials/footer") %>
